{
    "semi": true,
    "singleQuote": true,
    "singleAttributePerLine": false,
    "htmlWhitespaceSensitivity": "css",
    "printWidth": 200,
    "tabWidth": 4,
    "useTabs": false,
    "quoteProps": "as-needed",
    "trailingComma": "es5",
    "bracketSpacing": true,
    "bracketSameLine": false,
    "arrowParens": "avoid",
    "endOfLine": "lf",
    "embeddedLanguageFormatting": "auto",
    "plugins": [
        "prettier-plugin-organize-imports",
        "prettier-plugin-tailwindcss"
    ],
    "tailwindFunctions": [
        "clsx",
        "cn"
    ],
    "tailwindStylesheet": "resources/css/app.css",
    "overrides": [
        {
            "files": "**/*.yml",
            "options": {
                "tabWidth": 2
            }
        },
        {
            "files": "**/*.yaml",
            "options": {
                "tabWidth": 2
            }
        },
        {
            "files": "**/*.json",
            "options": {
                "tabWidth": 2
            }
        },
        {
            "files": "**/*.md",
            "options": {
                "printWidth": 100
            }
        },
        {
            "files": "**/*.php",
            "options": {
                "phpVersion": "8.1",
                "plugins": []
            }
        }
    ]
}
